@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap');
@font-face {
    font-family: 'Shorelines Script';
    src: url(./fonts/Shorelines\ Script\ Bold.otf);
}
:root {
    --heightMenu: 50px;
    --backgroudMain: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Cormorant SC', serif;
}
body {
    /* position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 80px; */
    background-color: var(--backgroudMain);
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
nav .hamburger-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--heightMenu);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    background-color: var(--backgroudMain);
    z-index: 2;
}
.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0.4s;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger__inner::before {
    top: -10px;
}
.hamburger__inner::after {
    top: 10px;
}
.hamburger--active .hamburger__inner {
    background-color: transparent;
}
.hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
}
nav .menu-mobile {
	position: fixed;
    left: 0;
    top: var(--heightMenu);
	width: 100%;
    height: calc(100% - var(--heightMenu));
	transition: .5s;
	transform: translateX(-100%);
	background-color: #fff;
	z-index: 1;
}
nav .menu-mobile--active {
    transform: translateX(0);
}
nav .menu-mobile .menu-mobile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
nav .menu-mobile .menu-mobile-container ul.menu-mobile-list {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav .menu-mobile .menu-mobile-container ul.menu-mobile-list li {
    font-size: 30px;
}
.menu-desktop {
    display: none;
}
h1.headline-names {
    font-size: 100px;
    font-family: 'Shorelines Script';
    text-transform: uppercase;
}
h1.headline-names i {
    position: relative;
    bottom: 30px;
    display: inline-block;
    font-size: 60px;
}
h1.headline-names span:nth-of-type(1) {
    padding-right: 20px;
}

h1.headline-names span:nth-of-type(2) {
    padding-left: 20px;
}
#guests-table {
    display: none;
}
.column-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.row-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}    
figure {
    width: 20%;
    order: 2;
}
figure:nth-of-type(2) {
    display: none;
}
img {
    width: 100%;
    height: 100%;
}
ul#timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 40px 0;
    
}
#timer li {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 32px;
    background: linear-gradient(225deg, #ffffff, #e2e2e2);
    box-shadow:  -12px 12px 14px #c6c6c6, 
                 12px -12px 14px #ffffff;
}
li span {
    font-size: 30px;
    text-transform: uppercase;
}
li p {
    font-size: 20px;
    text-transform: uppercase;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);;
}
footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: left; */
}
footer h3, footer p {
    text-align: left;
}

@media (min-width: 320px) {
    
}
@media (max-width: 425px) {}
@media (max-width: 768px) {}
@media (max-width: 1024px) {

}
@media (max-width: 1440px) {}