@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap');
@font-face {
    font-family: 'Shorelines Script';
    src: url(./fonts/Shorelines\ Script\ Bold.otf);
}

:root {
    --heightMenu: 60px;
    --backgroudMain: #fff;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Cormorant SC', serif;
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 80px;
    background-color: var(--backgroudMain);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

nav {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    
    margin-bottom: 50px;
    z-index: 2;
}

nav .menu-burger-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--heightMenu);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: var(--backgroudMain);
    z-index: 2;
}

nav .menu-burger-wrapper .menu-burger {
	position: absolute;
	top: 24px;
	left: 30px;
	width: 30px;
	height: 21px;
    cursor: pointer;
    background-color: white;;
}

nav .menu-burger span {
	top: 25px;
	right: 40px;
	width: 30px;
	height: 2px;
	display: block;
	background: #262626;
    transition: .5s;
}

nav .menu-burger span:nth-of-type(2) {
	transform: translateY(6px)
}

nav .menu-burger span:last-child {
	transform: translateY(12px)
}

nav .menu-mobile {
	position: fixed;
	top: var(--heightMenu);
	left: 0;
	width: 100%;
	height: calc(100vh - (var(--heightMenu)));
	transition: .5s;
	/* transform: translateX(100%); */
	background-color: #fff;
	border-top: 3px solid #edebeb;
	z-index: 1
}

nav .menu-mobile .menu-mobile-container {
    width: 100%;
    height: 100%;
}

nav .menu-mobile .menu-mobile-container ul.menu-mobile-list {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

/* 
nav ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1024px;
    height: 100%;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.menu-desktop {
    display: none;
}

h1.headline-names {
    font-size: 100px;
    font-family: 'Shorelines Script';
    text-transform: uppercase;
}

h1.headline-names i {
    position: relative;
    bottom: 30px;
    display: inline-block;
    font-size: 60px;
}

h1.headline-names span:nth-of-type(1) {
    padding-right: 20px;
}

h1.headline-names span:nth-of-type(2) {
    padding-left: 20px;
}

#guests-table {
    display: none;
}

.column-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.row-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}    

figure {
    width: 20%;
    order: 2;
}

figure:nth-of-type(2) {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

ul#timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 40px 0;
    
}

#timer li {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 32px;
    background: linear-gradient(225deg, #ffffff, #e2e2e2);
    box-shadow:  -12px 12px 14px #c6c6c6, 
                 12px -12px 14px #ffffff;
}

li span {
    font-size: 30px;
    text-transform: uppercase;
}

li p {
    font-size: 20px;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);;
}

footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: left; */
}

footer h3, footer p {
    text-align: left;
}

@media (min-width: 320px) {
    
}
@media (max-width: 425px) {}
@media (max-width: 768px) {}
@media (max-width: 1024px) {

}
@media (max-width: 1440px) {}